{% extends 'blog/base.html' %} 
{% block titulo%} Solicitud de Adopción {% endblock %}
{% block contenido %}
<br>

<form  enctype='multipart/form-data' method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button style="background-color:darkslateblue;"href="{% url 'animal_listar' %}" class="btn btn-primary"type="submit">Guardar</button>
        <a style="background-color:darkslateblue;"class="btn btn-primary"href="{% url 'index-blog'  %}">Volver</a>
</form>

<a href="{% url 'animal_listar' %}">Volver a la lista de Animales</a>
{% endblock %}