{% extends 'blog/base.html' %}
{% block contenido %}
<div class="container">
    {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'blog-logout' %}">Salir</a>
        <a class="btn btn-primary"href="{% url 'animal_alta' %}">Nuevo </a>
        <a class="btn btn-primary"href="{% url 'profile-update' user.id %}">Actualizar Profile</a>
    {% else %}
        <a class="btn btn-primary"href="{% url 'blog-login' %}"> Ingresar</a>
    {% endif %}
    
    <table class="table table-responsive">
    <thead class= "thead-dark">
        <tr>
            <th>#</th>
            <th>Nombre Adoptante</th>
            <th>Apellido Adoptante</th>
            <th>Clase Animal</th>
            <th>Nombre Animal</th>
            <th>Fecha de Adopción</th>
        </tr>
    </thead>   
        {% for adopcion in object_list %}
            <tr>
                <td>{{ adopcion.id }}</td>
                <td>{{ adopcion.user.nombre }}</td>
                <td>{{ adopcion.user.apellido }}</td>
                <td>{{ adopcion.animal.nombre}}</td>
                <td>{{ adopcion.fecha_adopcion }}</td>
                <td>
                    {% if user.is_authenticated %}
                        <a class="btn btn-primary"href="{% url 'adopcion_borrar' adopcion.id  %}">Borrar</a>
                        <a class="btn btn-primary"href="{% url 'adopcion_modificar' adopcion.id  %}">Actualizar</a>
                    {% endif %}
                    
                </td>
            </tr>
        {% endfor %}
    </table>    
  

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}