{% extends 'blog/base.html' %}

{% block contenido %}

     <div class="d-flex justify-content-center">
        <h1>{{object.nombre}}</h1>
     </div>
     <div class="d-flex justify-content-center">
           <h5> publicado: {{object.fecha_publicacion}} </h5>
     </div>

    <div class="d-flex justify-content-center">
        {% if object.foto %}
        <img style="border: 15px solid; color:aqua" height="255" src="{{ object.foto.url }}" />
        {% else %}
        <img height="255" src="https://dummyimage.com/255x255/dee2e6/6c757d.jpg" alt="...">
        {% endif %}
    </div>
    <div class="container text-wrap py-1 my-1" style="word-break: break-all;">
        <h5> Descripcion: {{object.descripcion}} </h5>
        
    </div>

{% endblock %}