{% extends 'blog/base.html' %}
{% block contenido %}
<div class="container">
    {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'blog-logout' %}">Salir</a>
        <a class="btn btn-primary"href="{% url 'animal_alta' %}">Nuevo </a>
        <a class="btn btn-primary"href="{% url 'profile-update' user.id %}">Actualizar Profile</a>
    {% else %}
        <a class="btn btn-primary"href="{% url 'blog-login' %}"> Ingresar</a>
    {% endif %}
    
    <table class="table table-responsive">
    <thead class= "thead-dark">
        <tr>
            <th>Nombre</th>
            <th>Clase</th>
            <th>Sexo</th>
            <th>Edad</th>
            <th>Fecha de Publicación</th>
        </tr>
    </thead>   
        {% for animal in object_list %}
            <tr>
                <td>{{ animal.nombre }}</td>
                <td>{{ animal.clase_animal }}</td>
                <td>{{ animal.sexo }}</td>
                <td>{{ animal.edad_aproximada }}</td>
                <td>{{ animal.fecha_publicacion }}</td>
                <td>
                    {% if user.is_authenticated %}
                        <a class="btn btn-primary"href="{% url 'animal_borrar' animal.id  %}">Borrar</a>
                        <a class="btn btn-primary"href="{% url 'animal_modificar' animal.id  %}">Actualizar</a>
                    {% endif %}
                    <a class="btn btn-primary"href="{% url 'detail-animal' animal.id  %}">Ver</a>
                </td>
            </tr>
        {% endfor %}
    </table>    
  

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}